* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Mobtserrat', sans-serif;
}

/*======================== layout ========================*/
.showJobs {
    width           : 1500px;
    height          : 650px;
    margin          : 10px 15px;
    padding         : 15px;
    background-color: #eee0e5 ;
    /* border       : 1px solid red; */
}

/* ============================= section ============================= */
section {
    width        : auto;
    height       : 180px;
    border       : 1px solid black;
    background   : #ffff;
    margin-top   : 10px;
    padding      : 10px;
    position     : relative;
    border-radius: 5px;
}

.showJobs p {
    font-size: 16px;
}

section .datePost {
    text-align: right;
}

section .logoCompany {
    float : left;
    border: 1px solid black;
}

section .companyDetails {
    padding-left: 10px;
    float       : left;
}

section .friends {
    position: absolute;
    bottom  : 5px;
}

section .seeDetailCompany {
    position     : absolute;
    top          : 80px;
    left         : 120px;
    background   : #6369ED;
    color        : white;
    width        : 130px;
    height       : 30px;
    cursor       : pointer;
    border-radius: 5px;
}

section .apply {
    position     : absolute;
    bottom       : 5px;
    right        : 10px;
    background   : #0a9428;
    color        : white;
    width        : 100px;
    height       : 30px;
    cursor       : pointer;
    border-radius: 5px;
}