* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Mobtserrat', sans-serif;
}

/*======================== layout ========================*/
.applSearchTable {
    position        : relative;
    width           : 25%;
    height          : 650px;
    float           : left;
    padding         : 15px;
    top             : -19px;
    /* border       : 1px solid red; */
}

.showAppl {
    width     : 75%;
    height    : 650px;
    float     : left;
    padding   : 15px;
    /* border : 1px solid red; */
}

/*======================== jobs search table ========================*/
.applSearchTable .applSearchTitle {
    border    : 1px solid black;
    font-size : 25px;
    text-align: center;
    margin-top: 30px;
    background: #6369ED;
    color     : white;
}

/*======================== dropdown ========================*/
.applSearchTable .applSearchDetails a,
.dropdown-btn {
    padding         : 6px 8px 6px 16px;
    text-decoration : none;
    font-size       : 20px;
    color           : black;
    display         : block;
    border          : none;
    background-color: white;
    width           : 100%;
    text-align      : left;
    cursor          : pointer;
    outline         : none;
}

.applSearchTable .applSearchDetails a:hover,
.dropdown-btn:hover {
    color           : white;
    background-color: #E94242;
}

.active {
    background-color: #E94242;
    color           : white;
}

.applSearchTable .applSearchDetails .dropdown-container {
    display         : none;
    background-color: white;
    padding-left    : 8px;
}

.applSearchTable .applSearchDetails .fa-caret-down {
    float        : right;
    padding-right: 8px;
}

/* ============================= section ============================= */
section {
    width     : auto;
    height    : 190px;
    border    : 1px solid black;
    background: #ffff;
    margin-top: 10px;
    padding   : 10px;
    position  : relative;
}

.showAppl p {
    font-size: 16px;
}

section .datePost {
    position  : relative;
    top       : -20px;
    text-align: right;
}

section .namePost {
    text-align: left;
}

section .imgAppl {
    float : left;
    border: 1px solid black;
}

section .applDetails {
    position        : relative;
    width           : 90%;
    height          : 110px;
    left            : 85px;
    background-color: #F6F4F4;
}

section .applDetails p {
    font-size: 15px;
    color    : black;
    margin   : 8px;
}

section .intersave {
    position  : absolute;
    bottom    : 5px;
    right     : 170px;
    background: #FDBD71;
    width     : 100px;
    height    : 25px;
    cursor    : pointer;
    border    : 0px;
}

section .seeDetailAppl {
    position  : absolute;
    bottom    : 5px;
    right     : 9px;
    background: #6369ED;
    color     : white;
    width     : 150px;
    height    : 25px;
    cursor    : pointer;
    border    : 0px;
}

section .applone {
    position: absolute;
}

section .appltwo {
    position: absolute;
    left    : 280px;
}