* {
    margin     : 0;
    padding    : 0;
}
.mainBoxTwo{
    width            : 900px;
    height           : 1500px;
    margin           : 10px 300px;
    background       : #ffff;
}
.header{
    height           : 35px;
    background-color :#6369ED ;
    color            : white;
}
.header p{
    position         : relative;
    left             : 9px;
    top              : 1px;
    font-size        : 25px;
}
/* -----------------------detail Jobs---------------------- */
.nameCompany{
    position         : relative;
    left             : 60px;
}
.nameCompany label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.nameCompany input{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.jobsType{
    position         : relative;
    left             : 60px;
}
.jobsType label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    width            : 100px;
    color            : black;
    font-size        : 15px;
}
.jobsType select{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.amount{
    position         : relative;
    left             : 60px;
}
.amount label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.amount input{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.companyDetail{
    position         : relative;
    left             : 60px;
}
.companyDetail label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.companyDetail input{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.textPost{
    position         : relative;
    left             : 60px;
}
.textPost label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.textPost textarea{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    height           :150px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.property{
    position         : relative;
    left             : 60px;
}
.property label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.property textarea{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    height           :150px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.welfare{
    position         : relative;
    left             : 60px;
}
.welfare label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.welfare textarea{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    height           :150px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.locationCompa{
    position         : relative;
    left             : 60px;
}
.locationCompa label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.locationCompa textarea{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    height           :150px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
.nameCon{
    position         : relative;
    left             : 60px;
}
.nameCon label{
    position         : relative;
    top              : 8px;
    right            : 40px;
    color            : black;
    font-size        : 15px;
}
.nameCon input{
    position         : relative;
    right            : 40px;
    top              :0 ;
    width            :96%;
    padding          :10px 5px;
    margin           :15px 0px;
    border-left      :1px solid #999;
    border-top       : 1px solid #999;
    border-right     : 1px solid #999;
    border-bottom    : 1px solid #999;   
}
/* -----------------------button---------------------- */
.confirmPost{
    font-size        : 16px;
    text-align       : center;
    color            :#ffffff;
    width            : 90px;
    height           : 35px;
    padding          : 5px;
    cursor           : pointer;
    background       :#6AC36A;
    border           : 0;
    outline          : none;
    position         : absolute;
    top              : 1545px;
    left             : 1098px; 
}
.cancelPost{
    font-size        : 16px;
    text-align       : center;
    color            :#ffffff;
    width            : 90px;
    height           : 35px;
    padding          : 5px;
    cursor           : pointer;
    background       :#F35A5A;
    border           : 0;
    outline          : none;
    position         : absolute;
    top              : 1545px;
    left             : 1000px; 
}